<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../../../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/component.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Event Me : <%= title %></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #googleMap {
            width: 100%;
            height: 400px;
        }

        body {
            font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
            background: #333;
            margin: 15px;
        }

        article {
            width: 100%;
            margin: 0 auto;
            background: #000;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 15px 2px #666;
        }

        section {
            clear: left;
        }

        h1 {
            font-size: 45px;
            font-weight: 100;
            letter-spacing: 15px;
            text-align: center;
        }

        h1, #main_content, #dog_link {
            padding: 15px;
        }

        a {
            color: #06c;

        }

        #main_nav ul {
            background: white;
            float: left;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #main_nav li {
            float: left;
            position: relative;
            width: 352px;
            list-style: none;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #main_nav > ul > li > a, h1 {
            text-transform: uppercase;
        }

        #main_nav a {
            display: block;
            text-decoration: none;
            padding: 5px 15px;
            color: #000;
        }

        #main_nav ul ul {
            position: absolute;
            left: 0;
            top: 100%;
            visibility: hidden;
            opacity: 0;
        }

        #main_nav ul ul ul {
            left: 100%;
            top: 0;
        }

        #main_nav ul ul ul ul {
            left: 100%;
            top: 0;
        }

        #main_nav li:hover, #main_nav li:hover li {
            background: #ddd;
        }

        #main_nav li li:hover, #main_nav li li:hover li {
            background: #bbb;
        }

        #main_nav li li li:hover, #main_nav li li li:hover li {
            background: #bbb;
        }

        #main_nav li li li:hover {
            background: #999;
        }

        #main_nav li li li li:hover {
            background: #999;
        }

        #main_nav li:hover > ul {
            visibility: visible;
            opacity: 1;
        }

    </style>
</head>

<div class="container demo-2">
    <div class="content">
        <div id="large-header" class="large-header">

            <% include nav %>

            <canvas id="demo-canvas"></canvas>

            <table id="singleEventTable" style="height: 500px; width: 735px; background-color:#f9f1e9;border-width: 0;
            top: 50%; left: 50%; text-align: center; margin-left:auto; margin-right: auto; overflow-y: scroll;">
                <colgroup>
                    <col width="15%" />
                    <col width="15%" />
                    <col width="70%" />
                </colgroup>
                <tr style="background-color:#f9f1e9;border-width: 0">
                    <td colspan=2 style="border-width: 0;"><img height=200px, width=300px
                                                                                          src="/img/<%= event_img %>">
                    </td>
                    <td style="border-width: 0;"><span
                                style="text-align:center;color:black"><H3><%= title %></H3></span></td>
                </tr>
                <tr style="height: 124px;background-color:#f9f1e9;border-width: 0">
                    <td style="text-align:center;border-width: 0;">
                        <h4 style="color:black;weight:bold;">Join event<br/></h4>
                        <a style="border-width: 5px;border-color: #222222;"  href="/eventMe/joinEvent/<%= event_id %>/<%= user_id %>">
                            <img height=50px, onClick='alert("You have joined: <%= title %> ")' width=50px src="../../../img\tick.png"/>
                        </a>
                    </td>
                    <td style="text-align:center;border-width: 0;">
                        <h4 style="color:black;weight:bold;">Leave event<br/></h4>
                        <a href="/eventMe/unattend/<%= event_id %>/<%= user_id %>">
                            <img height=50px, onClick='alert("You have left: <%= title %> ")' ,width=50px src="../../../img\x.png"/>
                        </a>
                    </td>
                    <td style="border-width: 0;">
                        <span style="color:black">
                        <p>When: <%= event_time %></p>
                        <p>What: <%= event_type %></p>
                        </span>
                    </td>
                </tr>
                <tr style="height: 124px;background-color:#f9f1e9;border-color: #f9f1e9">
                    <td style="border-width: 0;">&nbsp;</td>
                    <td style="border-width: 0;width: 466.889px; height: 124px;">&nbsp;
                        <p><span style="color:black">
                            <%= event_desc %>
                        </span></p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>
<!-- Import Google Maps -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu3KurWBoVaFCgz3J6jjoYcnmIVY2i6B0&libraries=places&callback=initMap"></script>
<script src="../../../js/rAF.js"></script>
<script src="../../../js/getstarted.js"></script>


</body>
</html>