<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/component.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../js/eventtable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
            background: #333;
            margin: 15px;
        }

        article {
            width: 100%;
            margin: 0 auto;
            background: #000;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 15px 2px #666;
        }

        section {
            clear: left;
        }

        h1 {
            font-size: 45px;
            font-weight: 100;
            letter-spacing: 15px;
            text-align: center;
        }

        h1, #main_content, #dog_link {
            padding: 15px;
        }

        a {
            color: #06c;

        }

        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }

    </style>
    <head>
        <title>EventMe - Home</title>
    </head>
<body onload="getList()">
<div class="container-fluid demo-2">
        <div id="large-header" class="large-header">
            <% include tmpnav %>
            <div class="container-fluid">
            <div class="table-responsive">
                <% if (invited_events.length <= 0) { %>
                <div class="container-fluid" >
                    <a class="btn btn-info btn-lg" href="/eventMe/createevent/<%= user_id %>" style="white-space: normal; background-color: black; color: white; border-color: white">No Upcoming Events. Create Your Own By Clicking Here</a>
                </div>

                <% } %>

                <% if (invited_events.length > 0) { %>
            <table class="table table-striped" id="excelDataTable" style="z-index: 50">
                <thead class="thead-dark">
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th><a onclick="displayarrange()" class="btn btn-info btn-lg" style="white-space: normal; background-color: rgba(248,131,121,0.8); color: black; border-color: black"><span>Distance</span></a></th>
                    <th>Time</th>
                    <th>Owner</th>
                <tr/>
                </thead>
                <tbody>
                <% for (var i = 0; i < invited_events.length; i++) { %>
                <% var eventtime = invited_events[i]["time"];
                    var eventime2 = eventtime.split("T");
                    var eventime3 = eventime2[0].split("-");
                    var finaltime = eventime3[2] +"/"+eventime3[1]+"/"+ eventime3[0]+" " + eventime2[1]
                %>
                <tr>
                    <td><%= invited_events[i]["type"] %></td>
                    <td>
                        <a href="/eventMe/event/<%= invited_events[i]["eventId"] %>/<%= user_id%>">
                            <%= invited_events[i]["title"] %>
                        </a>
                    </td>
                    <td id="distance"><%= invited_events[i]["location"] %></td>
                    <td style="display:none"><%= invited_events[i]["eventId"] %></td>
                    <p id="user_location" style="display:none"><%= location %></p>
                    <td><%= finaltime %></td>
                    <td><%= invited_events[i]["ownerName"] %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <script>
                $(document).ready(function(){
                    var event_loc=$('#excelDataTable tr td:nth-child(3)').text();
                    event_loc=event_loc.split(')');
                    var distances=[];
                    var str="";
                    for(var i=0;i<event_loc.length-1;i++)
                    {
                        distances[i]=CalcDistance(event_loc[i]);
                        console.log(distances[i]);
                    }
                    var table=document.getElementById('excelDataTable');
                    for(var i=2;i<table.rows.length;i++) {
                        if (distances[i-2] == undefined){
                            table.rows[i].cells[2].innerHTML="under poll"
                        } else {
                            table.rows[i].cells[2].innerHTML = distances[i - 2];
                        }
                    }
                    //$('#excelDataTable tr td:nth-child(3)').text(str.substr(0,str.length-1));

                });

                function CalcDistance(x)
                {
                    //-----------Calculate distance between event and user locations---------------
                    var R = 6371e3; // metres
                    var coords = document.getElementById('user_location').innerHTML;
                    /*
                       var latlng=coords.split(',');
                       var lat1=parseFloat(latlng[0].substr(1,latlng[0].length-1));
                       var lon1=parseFloat(latlng[1].substr(1,latlng[1].length));
                    */
                    var lat1 = JSON.parse(coords).lat;
                    //console.log(lat1);
                    var lon1 = JSON.parse(coords).lng;
                    //console.log(lon1);
                    coords = x; //x should be event location taken from table
                    var latlng = coords.split(',');
                    //console.log (latlng);
                    var lat2 = parseFloat(latlng[0].substr(1, latlng[0].length - 1));
                    //console.log(lat2);
                    var lon2 = parseFloat(latlng[1].substr(1, latlng[1].length));
                    //console.log(lon2);
                    var φ1 = radians(lat1);
                    var φ2 = radians(lat2);
                    var Δφ = radians(lat2 - lat1);
                    var Δλ = radians(lon2 - lon1);

                    var a = Math.sin(Δφ / 2) * Math.sin(Δφ / 2) +
                        Math.cos(φ1) * Math.cos(φ2) *
                        Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

                    var d = R * c;
                    d = Math.round(d * 100) / 100;

                    return (parseInt(d/100))/10 +'km';



                }

                function radians(x) {
                    var pi = Math.PI;
                    return x * (pi / 180);
                }

            </script><% } %>
            </div>

        </div>
        </div>
    <!-- Related demos -->
</div><!-- /container -->
<script src="../../js/rAF.js"></script>
<script src="../../js/getstarted.js"></script>

</body>
</html>