<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/component.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../js/eventtable.js"></script>


    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
            background: #333;
            margin: 15px;
        }

        article {
            width: 100%;
            margin: 0 auto;
            background: #000;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 15px 2px #666;
        }

        section {
            clear: left;
        }

        h1 {
            font-size: 45px;
            font-weight: 100;
            letter-spacing: 15px;
            text-align: center;
        }

        h1, #main_content, #dog_link {
            padding: 15px;
        }

        a {
            color: #06c;

        }

        #main_nav ul {
            background: white;
            float: left;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #main_nav li {
            float: left;
            position: relative;
            width: 352px;
            list-style: none;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #main_nav > ul > li > a, h1 {
            text-transform: uppercase;
        }

        #main_nav a {
            display: block;
            text-decoration: none;
            padding: 5px 15px;
            color: #000;
        }

        #main_nav ul ul {
            position: absolute;
            left: 0;
            top: 100%;
            visibility: hidden;
            opacity: 0;
        }

        #main_nav ul ul ul {
            left: 100%;
            width: 50px;
            top: 0;
        }

        #main_nav ul ul ul ul {
            left: 100%;
            width: 50px;
            top: 0;
        }

        #main_nav li:hover, #main_nav li:hover li {
            background: #ddd;
        }

        #main_nav li li:hover, #main_nav li li:hover li {
            background: #bbb;
        }

        #main_nav li li li:hover, #main_nav li li li:hover li {
            background: #bbb;
        }

        #main_nav li li li input:hover, #main_nav li li li:hover input {
            background: #bbb;
        }

        #main_nav li li li:hover {
            background: #999;
        }

        #main_nav li li li li:hover {
            background: #999;
        }

        #main_nav li:hover > ul {
            visibility: visible;
            opacity: 1;
        }

        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }

    </style>
</head>
<body onload="getList()">
<div class="container demo-2">


    <div class="content">
        <div id="large-header" class="large-header">
            <!--
            <nav id="main_nav">
                <ul>
                    <li>
                        <a>Events</a>
                        <ul>
                            <li><a href="/eventMe/createevent#"+<%= user_id %>">Create Event</a></li>
                            <li><a href="myevents.html">My Events</a></li>
                            <li><a href="#">Events I Attend</a></li>
                            <li><a href="#">Events I Attended</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Starts At</a>
                        <ul>
                            <li>
                                <a>Date</a>
                                <ul>
                                    <li><input type="date" style="width:100%"></input></li>
                                </ul>
                            </li>
                            <li>
                                <a>Time</a>
                                <ul>
                                    <li><input type="time" style="width:100%"></input></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Activity Type</a>
                        <ul>
                            <li><a>Food</a>
                                <ul>
                                    <li><input onclick="boxChecked();" name="Food_Mexican" type="checkbox"
                                               id="checkbox">Mexican</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Food_Hamburger" type="checkbox"
                                               id="checkbox">Hamburger</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Food_Italian" type="checkbox"
                                               id="checkbox">Italian</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Food_Israeli" type="checkbox"
                                               id="checkbox">Israeli</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Food_Sushi" type="checkbox"
                                               id="checkbox">Sushi</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Food_Viatnamise" type="checkbox"
                                               id="checkbox">Viatnamise</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Food_Chinese" type="checkbox"
                                               id="checkbox">Chinese</input></li>
                                </ul>
                            </li>

                            <li><a>Party</a>
                                <ul>
                                    <li><input onclick="boxChecked($(this));" name="Party_Techno" type="checkbox"
                                               id="checkbox">Techno</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Party_Salsa" type="checkbox"
                                               id="checkbox">Salsa</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Party_MainStream" type="checkbox"
                                               id="checkbox">Main-Stream</input></li>
                                </ul>
                            </li>
                            <li><a>Shopping</a>
                                <ul>
                                    <li><input onclick="boxChecked($(this));" name="Shopping_Groceries" type="checkbox"
                                               id="checkbox">Groceries</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Shopping_Clothes" type="checkbox"
                                               id="checkbox">Clothes</input></li>
                                    <li><input onclick="boxChecked($(this));" name="Shoppinf_HomeDecore" type="checkbox"
                                               id="checkbox">Home Decore</input></li>
                                </ul>
                            </li>
                            <li><input onclick="boxChecked($(this));" name="Movie" type="checkbox"
                                       id="checkbox">Movie</input></li>
                            <li><input onclick="boxChecked($(this));" name="GoingOut" type="checkbox" id="checkbox">Going
                                Out</input></li>
                            <li><input onclick="boxChecked($(this));" name="Hanging" type="checkbox" id="checkbox">Hanging</input>
                            </li>
                            <li><input onclick="boxChecked($(this));" name="Hiking" type="checkbox"
                                       id="checkbox">Hiking</input></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Search</a>
                        <ul>
                            <li><input type="text" id="txt_name" name="search" placeholder="Search.."
                                       style="width: 100%;"></input>
                                <button onclick="displaysearch()">Submit</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
-->
            <% include nav %>

            <canvas id="demo-canvas"></canvas>

            <table id="excelDataTable"
                   style="background-color:Black;top: 50%; left: 50%; text-align: center; position: absolute; display: block; height: 300px; overflow-y: scroll; margin-left:auto; margin-right: auto; width: 800px;">

                <tr>
                    <th>Type</th>
                    <th>Event Id</th>
                    <th>Title</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Owner</th>
                <tr/>
                <% for (var i = 0; i < invited_events.length; i++) { %>
                <tr>
                    <td><%= invited_events[i]["type"] %></td>
                    <td><%= invited_events[i]["eventId"] %></td>
                    <td>
                        <a href="/eventMe/event/<%= invited_events[i]["eventId"] %>/<%= user_id%>">
                            <%= invited_events[i]["title"] %>
                        </a>
                    </td>
                    <td><%= invited_events[i]["distance"] %></td>
                    <td><%= invited_events[i]["time"] %></td>
                    <td><%= invited_events[i]["ownerId"] %></td>
                    <td><button onclick=displayarrange()>delete</button></td>
                </tr>
                <% } %>
            </table>

        </div>
    </div>
    <!-- Related demos -->
</div><!-- /container -->
<script src="../../js/rAF.js"></script>
<script src="../../js/getstarted.js"></script>

</body>
</html>